<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.amiru.shenkar2018">

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".CalculatorActivity" />
        <activity
            android:name=".MainMenuActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".storage.StorageExampleActivity" />
        <activity android:name=".PrefsActivity" />
        <activity android:name=".recyclerview.RecyclerViewExampleActivity" />
        <activity android:name=".LayoutAnimationActivity" />
        <activity
            android:name=".llg.LowLevelGraphicsActivity"
            android:label="@string/title_activity_low_level_graphics" />
        <activity android:name=".ProgrammaticLayoutActivity" />
        <activity android:name=".llg.LowLevelAnimationActivity"></activity>
    </application>

</manifest>